.courses img {
    width: 200px;
}

@media screen and (max-width: 575px) {
    .courses img {
        width: 100%;
    }
}

footer .icon-box a {
    color: #fff;
    font-size: 30px;
    margin: 10px;
}

footer .icon-box a:hover {
    color: #0d6efd;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #e7f1ff;
    box-shadow: none;
}

.accordion-button {
    padding: 25px;
}

.accordion-item {
    border: none;
    margin: 20px 0px;
}

.accordion-item .accordion-button{
    border: 1px solid #dbdbdb;
    border-radius: 15px !important;
}
